# User-specific files
*.suo
*.user
*.sln.docstates
*.DS_Store
*.userprefs
*.jf

# Restored packages
/packages

# Build results
.builds
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

*_i.c
*_p.c
*_i.h
*.dll
*.ilk
*.mdb
*.meta
*.nupkg
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
